# Cadence Tool Logs & Artifacts
genus.log*
genus.cmd*
fv/
*.log
*.cmd
.*.tstamp
*.tstamp

# Cadence Xcelium Simulation Databases & History
xcelium.d/
sim/xcelium.d/
sim/xrun.history
*.history

# PDK Libraries & Binary Archives
libs/
*.lib
*.7z
*.tar.xz
*.tar.bz2
7z2408-linux-x64*
7zz
